.bar-container {
  width: 300px;
  height: 20px;
  background-color: #ddd;
  border-radius: 5px;
  margin: 10px 0;
  overflow: hidden;
}

.bar-fill {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
  transition: width 0.1s ease-in-out;
}

.bar-brake {
  background-color: #f44336;
}

.overlay-body {
  margin: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.22);
  border: 2px solid rgb(115, 255, 0);
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  -webkit-app-region: drag;
  user-select: none;
}
