# System files
__pycache__/
node_modules/
.coverage
.pytest_cache/
TODOLIST.md
main.spec
dist/
build/

# Сreated by the user
overlays_settings.json

# Test files
test.py
test.html
print_tree.py
irating_calculation.py
eventresult.json
backend_run/
