{% extends "base/base_overlay.html" %}

{% block title %}Speed{% endblock %}


{% block content %}
  <h2>Speed: <span id="speed">loading...</span> km/h</h2>
{% endblock %}

{% block scripts %}
<script>
  async function updateData() {
    try {
      const res = await fetch("/api/speed");
      const data = await res.json();
      document.getElementById("speed").innerText = data.speed;
    } catch (e) {
      console.error("Error:", e);
    }
  }

  setInterval(updateData, 100);
  updateData();
</script>
{% endblock %}