{% block card_detail %}
<div class="section-header">
  <h2>{{ card_data.title }}</h2>
  <p>{{ card_data.desc }}</p>
</div>

<div>
  <div class="text-column">
    <button id="OpenBtn" class="overlay-button active-btn">Open</button>
  </div>
  <div>
    <img
      src="{{ card_data.image }}"
      alt="{{ card_data.title }}"
      width="300"
      height="300"
      style="object-fit: contain; pointer-events: none; display: block;"
    >
  </div>
</div>

<div class="section-header">
  <h2>Settings</h2>
</div>

<div class="range-container">
  <label for="zoomRange">
    Zoom: <span id="zoomValue">100%</span>
  </label>
  <input
    id="zoomRange"
    class="range-control"
    type="range"
    min="50"
    max="200"
    step="10"
    value="100"
  >
</div>

{% block additional_settings %}{% endblock %}

<script src="{{ url_for('static', path='/js/base_detail.js') }}"></script>
{% block overlay_scripts %}{% endblock %}

<link rel="stylesheet" href="{{ url_for('static', path='/css/card_detail.css') }}">
{% endblock %}
