{% extends "pages/card_detail/base_detail.html" %}

{% block title %}Overlays - {{ card_data.title }}{% endblock %}

{% block additional_settings %}
{% endblock %}

{% block overlay_scripts %}
<script>
document.addEventListener('DOMContentLoaded', () => {
    const overlayName = 'radar';
    const overlay = new OverlayBase(overlayName);
    
    document.getElementById('OpenBtn').addEventListener('click', () => {
        window.electronAPI.openOverlay(overlayName);
    });
});
</script>
{% endblock %}
