<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
</head>
<body>
  {% include "base/navigation.html" %}

  <main>
    {% block content %}
    {% endblock %}
  </main>

  {% block scripts %}
  {% endblock %}
</body>
</html>
