{% extends "base/base.html" %}

{% block title %}Foo Overlay{% endblock %}

{% block content %}
  
  <h1>Hello from Electron!</h1>

  <button id="speedBtn">Speed Window</button>
  <button id="controlsBtn">Controls Window</button>

  <script>
    // Обработчик кнопки (безопасный способ через preload)
    document.getElementById('speedBtn').addEventListener('click', () => {
      window.electronAPI.openSpeed();
    });

    document.getElementById('controlsBtn').addEventListener('click', () => {
      window.electronAPI.openControls();
    });
  </script>
{% endblock %}
