<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>FastAPI + Electron</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <!-- Кнопка для открытия popup -->
  <button id="speedBtn">Speed Window</button>
  <button id="controlsBtn">Controls Window</button>
  
  <h1>Hello from Electron!</h1>

  <script>
    // Обработчик кнопки (безопасный способ через preload)
    document.getElementById('speedBtn').addEventListener('click', () => {
      window.electronAPI.openSpeed();
    });

    document.getElementById('controlsBtn').addEventListener('click', () => {
      window.electronAPI.openControls();
    });
  </script>
</body>
</html>
